# Ignore raw data
data/raw/
data/processed/sample_100k.csv
*.zip
*.gz

# Ignore Python cache
__pycache__/
*.pyc

venv/
env/

*.twb.autosave
.DS_Store
.env
monitoring/reports/
md/
.ipynb_checkpoints
.vscode/
.idea/
